<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :booking_time %><br>
    <%= f.datetime_select :booking_time %>
  </div>
  <div class="field">
    <%= f.label :pickup_time %><br>
    <%= f.datetime_select :pickup_time %>
  </div>
  <div class="field">
    <%= f.label :pickup_latitude %><br>
    <%= f.text_field :pickup_latitude %>
  </div>
  <div class="field">
    <%= f.label :pickup_longitude %><br>
    <%= f.text_field :pickup_longitude %>
  </div>
  <div class="field">
    <%= f.label :dropoff_latitude %><br>
    <%= f.text_field :dropoff_latitude %>
  </div>
  <div class="field">
    <%= f.label :dropoff_longitude %><br>
    <%= f.text_field :dropoff_longitude %>
  </div>
  <div class="field">
    <%= f.label :estimated_fare %><br>
    <%= f.number_field :estimated_fare %>
  </div>
  <div class="field">
    <%= f.label :estimated_distance %><br>
    <%= f.text_field :estimated_distance %>
  </div>
  <div class="field">
    <%= f.label :promo_code %><br>
    <%= f.text_field :promo_code %>
  </div>
  <div class="field">
    <%= f.label :driver_tip %><br>
    <%= f.number_field :driver_tip %>
  </div>
  <div class="field">
    <%= f.label :driver_name %><br>
    <%= f.text_field :driver_name %>
  </div>
  <div class="field">
    <%= f.label :driver_phone %><br>
    <%= f.text_field :driver_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
