<h1>Listing bookings</h1>

<table>
  <thead>
    <tr>
      <th>Booking time</th>
      <th>Pickup time</th>
      <th>Pickup latitude</th>
      <th>Pickup longitude</th>
      <th>Dropoff latitude</th>
      <th>Dropoff longitude</th>
      <th>Estimated fare</th>
      <th>Estimated distance</th>
      <th>Promo code</th>
      <th>Driver tip</th>
      <th>Driver name</th>
      <th>Driver phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.booking_time %></td>
        <td><%= booking.pickup_time %></td>
        <td><%= booking.pickup_latitude %></td>
        <td><%= booking.pickup_longitude %></td>
        <td><%= booking.dropoff_latitude %></td>
        <td><%= booking.dropoff_longitude %></td>
        <td><%= booking.estimated_fare %></td>
        <td><%= booking.estimated_distance %></td>
        <td><%= booking.promo_code %></td>
        <td><%= booking.driver_tip %></td>
        <td><%= booking.driver_name %></td>
        <td><%= booking.driver_phone %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
