<p id="notice"><%= notice %></p>

<p>
  <strong>Booking time:</strong>
  <%= @booking.booking_time %>
</p>

<p>
  <strong>Pickup time:</strong>
  <%= @booking.pickup_time %>
</p>

<p>
  <strong>Pickup latitude:</strong>
  <%= @booking.pickup_latitude %>
</p>

<p>
  <strong>Pickup longitude:</strong>
  <%= @booking.pickup_longitude %>
</p>

<p>
  <strong>Dropoff latitude:</strong>
  <%= @booking.dropoff_latitude %>
</p>

<p>
  <strong>Dropoff longitude:</strong>
  <%= @booking.dropoff_longitude %>
</p>

<p>
  <strong>Estimated fare:</strong>
  <%= @booking.estimated_fare %>
</p>

<p>
  <strong>Estimated distance:</strong>
  <%= @booking.estimated_distance %>
</p>

<p>
  <strong>Promo code:</strong>
  <%= @booking.promo_code %>
</p>

<p>
  <strong>Driver tip:</strong>
  <%= @booking.driver_tip %>
</p>

<p>
  <strong>Driver name:</strong>
  <%= @booking.driver_name %>
</p>

<p>
  <strong>Driver phone:</strong>
  <%= @booking.driver_phone %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
